---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: default
  name: open-ports-scanner-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: default
  name: open-ports-scanner-config
data:
  NMAP_TARGETS: "" # Comma-separated Nmap targets (IP addresses or domains) to scan. MANDATORY. Example: "100.100.100.1,10.11.12.13,22.22.22.22"
  NMAP_PORTS: "" # Comma-separated Nmap ports to scan. Example: "22,80,443"
  SEND_REPORT_OPENPORTS_TELEGRAM: "" # Send open ports report to Telegram. Example: "true"
  SEND_REPORT_NEWOPENPORTS_TELEGRAM: "" # Send new open ports (changes) report to Telegram. Example: "true"

---
apiVersion: v1
kind: Secret
metadata:
  namespace: default
  name: open-ports-scanner-secrets
type: Opaque
stringData:
  TELEGRAM_BOT_TOKEN: "" # Telegram bot token. Should be specified if `SEND_REPORT_OPENPORTS_TELEGRAM` or `SEND_REPORT_NEWOPENPORTS_TELEGRAM` is "true". Example: "1234567890:AABBCc1234567890nVoluqEOZXCzxc"
  TELEGRAM_CHAT_ID_OPENPORTS_REPORT: "" # Telegram chat ID for open ports report. Should be specified if `SEND_REPORT_OPENPORTS_TELEGRAM` is "true". Example: "-1234567890"
  TELEGRAM_CHAT_ID_NEWOPENPORTS_REPORT: "" # Telegram chat ID for new open ports (changes) report. Should be specified if `SEND_REPORT_NEWOPENPORTS_TELEGRAM` is "true". Example: "-1234567890"

---
apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: default
  name: open-ports-scanner
spec:
  schedule: "0 */6 * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: main
              image: vfabi/open-ports-scanner:1.3.0
              imagePullPolicy: IfNotPresent
              securityContext:
                allowPrivilegeEscalation: false
                privileged: false
              envFrom:
                - configMapRef:
                    name: open-ports-scanner-config
                - secretRef:
                    name: open-ports-scanner-secrets
              resources:
                requests:
                  memory: "128Mi"
                  cpu: "100m"
                limits:
                  memory: "256Mi"
                  cpu: "500m"
              volumeMounts:
                - mountPath: "/app/data"
                  name: data-volume
          enableServiceLinks: false
          automountServiceAccountToken: false
          securityContext:
            seccompProfile:
              type: RuntimeDefault
          restartPolicy: OnFailure
          volumes:
            - name: data-volume
              persistentVolumeClaim:
                claimName: open-ports-scanner-data
